body { 
    background: url('../images/bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
}

a, a:hover, a:visited {
  color: #fff;
}

.btn {
  margin-right: 5px;
}

#giphy-btns {
  margin-top: 15px;
}

#giphy-gifs {
  margin-top: 25px;
}

.navbar-brand {
  font-size: 25px;
}

.btn {
  background-color: #343a40;
  color: #fff;
  border-color: #fff;
}

.btn:hover {
  color: #343a40;
  background-color: #fff;
  border-color: #fff;
}

h1 {
  font-family: 'Ubuntu', sans-serif; 
}

p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}